/* General Layout */
body {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    background-color: #efefef;
}

/* Header */
.rounded-text-header {
    border: 1px;
    padding: 15px 20px;
    border-radius: 20px;
    color: #efefef;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Sidebar Box (Student Courseload) */
.rounded-text-body {
    border: 1px;
    border-radius: 20px;
    float: left;
    color: #000000;
    text-align: left; 
    font-size: 20px; 
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #acb8c0;
    width: 28%;
    overflow: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Individual Input Entries inside Sidebar */
.rounded-text-entry {
    border: 1px;
    border-radius: 20px;
    float: left;
    color: #000000;
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #efefef;
    width: 93%;
}

/* Schedule Table */
table {
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:first-child {
    background-color: #aad886;
    color: #efefef;
}

/* Inputs */
input[type=text], select {
    color: #000000;
    text-align: left;
    font-size: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #efefef;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}



